@using ViverBem.Domain.Interfaces
@inject IUser user
@model IEnumerable<ViverBem.Application.ViewModels.PropostasViewModel>

@{
    ViewData["Title"] = "Propostas Aprovadas";
}

<h1>@ViewData["Title"]</h1>


<br />
<form asp-action="PropostasAprovadas">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-10">
                <p>Filtrar por CPF: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" /> <input type="submit" value="Filtrar" class="btn btn-info" /> </p>
            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dt_venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodCombo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pronum)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @item.Dt_venda.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodCombo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>    
                @Html.DisplayFor(modelItem => item.Pronum)
            </td>
        </tr>
        }
    </tbody>
</table>
